* {
    font-family: "Raleway", sans-serif;
}


body {
    margin: 0 55px;
    font-weight: 400;
    font-size: 16px;
}


a {
    text-decoration: none;
    color: black;
}


h1, h2 {
    font-weight: 700;
    font-size: 22px;
}


/* ----------------------HEADER---------------------- */

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.page-header__nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0px;
    margin: 0px;
}


.page-header__nav ul a {
    display: block;
    padding: 48px;
    border-top: 2px solid transparent;
}


.page-header__nav ul a:hover {
    font-weight: 500;
    color: #0065FC;
    border-color: #0065FC;
}


/* ----------------------MAIN---------------------- */

/* ----------------------MAIN SEARCH--------------- */

.main__search p {
    margin-top: 5px;
}


.main__search h1 {
    margin-bottom: 5px;
}


.main__search__form {
    display: flex;
    font-size: 18px;
    height: 49px;
}


.main__search__form__label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 15px 0 0 15px;
    background-color: #D9D9D9;
}


.main__search__form input, .main__search__form button {
    font-size: 18px;
    font-weight: 700;
}


.main__search__form__city {
    border: 1px solid #D9D9D9;
    border-right: none;
    padding-left: 17px;
}


.main__search__form__city:focus{
    outline: none;
}


::placeholder {
    color: black;
}


.main__search__form__button {
    display: flex;
    gap: 10px;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    border: 1px solid #0065FC;
    padding: 14px 16px;
}


.main__search__form__button i {
    display: none;
}

.main__search__filter {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 30px 0;
}


.main__search__filter a {
    display: flex;
    gap: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px;
}


.main__search__filter a:hover {
    background-color: #DEEBFF;
}


.main__search__filter a span {
    font-size: 17px;
    font-weight: 700;
}


.main__search__filter span:first-child {
    font-size: 18px;
    font-weight: 700;
}

.main__search__filter i {
    color: #0065FC;
}


.main__search__info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main__search__info p {
    margin: 0;
    padding: 0;
}


.main__search__info i {
    font-size: 13px;
    display: flex;
    color: #0065FC;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}


/* ----------------------MAIN ACCOMMODATION-------- */




/* ----------------------MAIN POPULAR-------------- */


/* ----------------------MAIN ACTIVITY------------- */


/* ----------------------FOOTER-------------------- */

.page-footer h2 {
    font-size: 18px;
}