/* ---------------------- GENERAL --------------------- */

* {
    font-family: "Raleway", sans-serif;
}


body {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

.page-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}


h1,
h2 {
    font-weight: 700;
    font-size: 22px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}



/* ---------------------- HEADER ---------------------- */


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}

.header__logo {
    width: 61px;
    height: 19px;
}

.header__menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__link {
    display: block;
    padding: 48px;
    border-top: 2px solid transparent;
}

.header__link:hover {
    color: #0065FC;
    border-color: #0065FC;
}


/* ---------------------- MAIN ---------------------- */


/* ---------------------- SEARCH -------------------- */


/* ---------------- SEARCH - TITLE & SUBTITLE -------- */


.search {
    margin: 9px 0 39px 5px;
}

.search__title {
    margin-bottom: 8px;
}

.search__subtitle {
    margin-bottom: 20px;
}


/* ---------------- SEARCH - FORM ------------------ */


.search__form {
    display: flex;
    height: 51px;
    margin-bottom: 30px;
}

.form__label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 52px;
    font-size: 18px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}

.form__field,
.form__button {
    font-size: 18px;
    font-weight: 700;
}

.form__field {
    border: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    padding-left: 17px;
    flex: 0 0 226px;
}

.form__field:focus {
    outline: none;
}

.form__field::placeholder {
    color: black;
    opacity: 1; /* Firefox applique une transparance au placeholder par défault */
}

.form__button {
    flex: 0 0 auto;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    border: 1px solid #0065FC;
    padding: 14px 16px;
    cursor: pointer;
}

.form__button i {
    display: none;
}


/* ---------------- SEARCH - FILTER ---------------- */

.search__filter {
    display: flex;
    gap: 32px;
    margin: 0 0 30px 7px;
}

.filter__label {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.filter__capsules {
    display: flex;
    gap: 2%;
    flex: 1 1 auto;
}

.filter__capsule {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 50px;
    padding: 10px 18px;
}

.filter__capsule:hover {
    background-color: #DEEBFF;
}

.filter__capsule i {
    font-size: 22px;
    color: #0065FC;
}

.filter__capsule span {
    font-size: 17px;
    font-weight: 700;
}


/* ---------------- SEARCH - INFO --------------- */


.search__info {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-left: 4px;
}

.search__info i {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    color: #0065FC;
}

.search__info p {
    margin-top: 4px;
}

/* ---------------------- CARD GENERAL ------------------ */

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.card__image {
    object-fit: cover;
}

.card__image--top {
    height: 114px;
    width: 100%;
    border-radius: 17px 17px 0 0;
}

.card__image--left {
    width: 38%;
    border-radius: 17px 0 0 17px;
    min-width: 38%; /* obligatoire pour Firefox .. */
}

.card__caption {
    display: flex;
    flex-direction: column;
    padding: 9px 11px 6px 11px; 
    flex-grow: 1; 
}

.card p {
    margin: 8px 0;
    font-size: 14px;
    padding: 0;
}

.card__stars {
    display: flex;
    margin-top: auto;
}

.card__star {
    color: #0065FC;
    font-size: 12px;
}

.card__star--inactive {
    color: #D9D9D9;
}


/* --------------- MAIN CONTENT (ACCOMMODATION + POPULAR) --------------- */


.main-content {
    display: flex;
    gap: 3%;
}


.accommodation,
.popular {
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 40px;
    box-sizing: border-box;
}

.accommodation__title,
.popular__title {
    margin-bottom: 23px;
}



/* ------------------ ACCOMMODATION ------------------ */


.accommodation {
    width: 63%;
}

.accommodation__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    row-gap: 30px;
}

.card--accommodation {
    flex-direction: column;
}

.accommodation__cards a {
    width: 31%;
    display: flex;
}

.accommodation__showmore {
    font-weight: 700;
    font-size: 18px;
    margin: 40px 0 0px 4px;
}

/* ------------------- POPULAR --------------------- */


.popular {
    width: 34%;
    display: flex;
    flex-direction: column;
}

.popular__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular__title-icon {
    color: #0065FC;
}

.popular__cards {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
}

.popular__cards a {
    display: flex;
    height: 144px;
    min-height: 28%;
}

.card--popular {
    flex-direction: row;
}




/* ---------------------- ACTIVITY ---------------- */

.activity {
    margin: 60px 0px;
}

.activity__title {
    margin-bottom: 28px;
}

.activity__cards {
    display: flex;
    justify-content: space-between;
}

.activity__cards a {
    display: flex;
    width: 23%;
}

.card--activity {
    padding: 0px;
    flex-direction: column;
}

.card__image--activity {
    height: 389px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card__caption--activity {
    padding: 10px 20px;
    min-height: 40px;
    justify-content: center;
}




/* ---------------------- FOOTER -------------------- */

.footer {
    background-color: #F2F2F2;
    display: flex;
    padding: 45px 70px;
    justify-content: space-between;
}

.footer__section {
    width: 30%;
}

.footer__title {
    margin-bottom: 20px;
    font-size: 18px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap : 12px;
}



/* ----------------- MEDIA QUERIES TABLETTE ------------- */

@media screen and (min-width: 768px) and (max-width: 991px) {

    .search__filter {
        gap: 20px;
    }

    .filter__capsules {
        gap: 0 1.2vw;
    }

    .filter__capsule {
        padding: 10px 1.6vw;
    }

    .filter__capsule span {
        font-size: 1.7vw;
    }

    .filter__capsule i {
        font-size: 2.1vw;
    }
    
    .main-content {
        flex-direction: column;
        gap: 53px;
    }

    .accommodation,
    .popular {
        width: 100%;
    }

    .popular__cards {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .popular__cards a {
        height: auto;
        width: 30%;
    }

    .activity__cards a {
        width: 21%;
    }

    .card__image--activity {
        height: 211px;
    }


}

/* ----------------- MEDIA QUERIES MOBILE ----------- */

@media screen and (max-width: 767px) {

    .page-container {
        padding: 0;
    }

    /* -- HEADER -- */

    .header {
        flex-direction: column;
        margin: 0;
    }

    .header__logo {
        margin: 21px 0;
    }

    .header nav {
        width: 100%;        
    }

    .header__menu li {
        width: 50%;
    }

    .header__link {
        text-align: center;
        padding: 23px;
        border-bottom: 3px solid #F2F2F2;
        border-top: none;
    }

    /* -- SEARCH -- */

    .search {
        margin: 31px 20px 41px 20px;
    }

    .search__title {
        margin-bottom: 13px;
    }

    .search__subtitle {
        margin-bottom: 36px;
    }

    /* -- SEARCH FORM -- */

    .search__form {
        padding: 0 2px;
    }

    .form__field {
        flex: 1 1 auto;
    }

    .form__button i {
        display: unset;
    }

    .form__button span {
        display: none;
    }

    /* -- SEARCH FILTER -- */

    .search__filter {
        flex-direction: column;
        margin: 0 0 43px 0;
        gap: 15px;
    }


    .filter__capsules {
        flex-wrap: wrap;
        gap: 17px 0;
        justify-content: space-between;
    }

    .filter__capsule {
        width: 48%;
        box-sizing: border-box;
        padding: 10px;
        gap: 5px;
    }

    .filter__capsule span {
        font-size: calc(11px + 0.3vw);
}

    /* -- SEARCH INFO -- */

    .search__info {
        gap: 11px;
        margin-left: 0;
    }

    .search__info i {
        flex: 0 0 auto;
    }

    /* -- MAIN -- */

    .main-content {
        flex-direction: column-reverse;
        gap: 0px;
    }
    
    .accommodation,
    .popular {
        border-radius: unset;
        padding: 28px 20px 47px 20px;
        width: 100%
    }
    

    /* -- ACCOMMODATION -- */

    .accommodation {
        background-color: unset;
    }

    .accommodation__cards a {
        width: 100%;
    }

    .accommodation__showmore {
        display: none;
    }

    /* -- ACTIVITY -- */

    .activity {
        margin: 60px 20px;
    }

    .activity__title {
        width: 100%;
    }

    .activity__cards {
        flex-direction: column;
        gap: 24px;
    }

    .activity__cards a {
        width: 100%;
    }

    .card__image--activity {
        height: 134px;
    }

    /* -- FOOTER -- */

    .footer {
        flex-direction: column;
        padding: 45px 30px;
        gap: 40px;
    }
    
    .footer__section {
        width: 100%;
    }

}